*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body{
   height: 100%
 }
 .cuerpo1{
     background-color: skyblue;
 }

 .texto1{
     align-items: center;
     
 }
 .text1{
     color: skyblue;
 }
 .text2{
     color: blue;
 }
 .card-body{
     background-color: cadetblue;
     
 }
 .card-text{
     color: white;
 }
 .card-title{
     color: white;
 }